# Virtual environment
venv/

# Streamlit secrets and cache
.secrets.toml
.streamlit/

# Python cache files
__pycache__/
*.pyc
*.pyo

# Database files
*.sqlite
*.db

# Logs and temp files
*.log
.DS_Store
.ipynb_checkpoints/
